body {
  max-width: 380px;
  margin: auto;
  background: #ddd;
}

img {
  display: block;
  max-width: 100%;
}

header {
  background-image: url(../img/bg-heder-100.jpg);
}

.box-title {
  background: #000;
  color: #E3F4FF;
}

.setion-light {
  background: #E3F4FF;
  color: #000;
}

.section-dark {
  background: #060E17;
  color: #E3F4FF;
  
}

.cta {
  background: #060E17;
  color: #E3F4FF;
}

footer {
  background: #060E17;
  color: #E3F4FF;
}

a {
  color: #060E17;
}
